.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  color: #497bee;
}
/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox
          based on demand */
.geekmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #497bee;
  border-radius: 5px;
  background-color: #fff;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Specify the background color to be
          shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: #5850ec;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
        showing only two border to make it look
        like a tickmark */
.main .geekmark:after {
  left: 6px;
  bottom: 4px;
  width: 6px;
  height: 11px;
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
